body{
  background-color: #E7D0D0;
}
.container_edit {
    /* max-width: 600px; */
    margin: 0 auto;
    padding: 20px;
    /* background-color: #fff; */
    /* border-radius: 8px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }

  .box_edit {
    padding: 0 2% 0 2%;
    display: flex;
    align-items: center;
    gap: 10px; 
    background-color: transparent;
  }
  
  .task-title_edit {
    font-size: 2rem;
    color: #000;
    margin-bottom: 20px;
    text-align: center;
    margin: 0 auto;
    flex-grow: 1;
  }
  
  .task-form_edit {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 768px) { 
    .box_edit{
      background-color: #DB8585;
    }
    .task-form_edit {
      margin-top: 10%; 
    }
  }
  
  .form-group_edit {
    margin-bottom: 15px;
  }
  
  .form-label_edit {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-input_edit,
  .form-textarea_edit {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  
  .form-textarea_edit {
    resize: vertical;
    min-height: 100px;
  }
  
  .task-btn_edit {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #DB8585;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    margin: auto;
  }
  
  .task-btn_edit:hover {
    background-color: rgb(195, 123, 123);
  }